
.layui-container {
	min-width: 1140px;
	border: 1px solid;
	padding: 2px;
}

#banner {
	background: url(../img/banner.png);
	height: 160px;
	background-size: cover;
}

#bar {
	border: 1px solid;
	margin: 1px;
}

#navbar {
	text-align: center;
	margin:0px;
}

.layui-nav-item {
	line-height: 40px;
}

.layui-nav {
	background-color: #fff;
}

.layui-nav .layui-nav-item a {
	color: #333;
	font-size:1.2em;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
	color: #000;
}

#bodyer {
	background-color: #d9d9d9;
	padding: 1px;
}
#bodyer1{
	background-color: #fff;margin: 3px;
}
#footer {
	border: none;
}

#footer #copyright {
	text-align: center;
}
#overview,#statistic{
	margin-top:20px;
	margin-bottom:20px;
}
#overview fieldset{
	margin-bottom:5px;margin-top:20px;
}
#statistic fieldset{
	margin-bottom:5px;margin-top:20px;
}
#statistic img,table{
	width: 95%;
}



#browsefield{
	margin-top: 30px;
	margin-bottom: 30px;
}
#browsefield p{
	font-size:1.1em;
}
#browsefield blockquote
{
	font-size: 1.3em;
}
.browsebtn{
	margin: 5px;
}
#browsefield fieldset{
	margin-top: 6px;
	margin-bottom: 2px;
}
#browsefield legend
{
	font-size:1.2em;
}
#select label{
	width:180px;
	
}
#select #AND{
	width:70px;
	margin-right:-1px;
	
}
#select .layui-input-block{
	margin-left:250px;
}

#simplesearch{
	margin-top:20px;
	margin-bottom:20px;
}
#advancesearch{
	/* margin-top:20px; */
	margin-bottom:20px;
}

.layui-text{
	color:#333;
	/* font-size: 1.1em; */
}

.imgtext{
	padding-bottom:20px;
	padding-top:20px;
}


#container{
	margin:10px;
}
/* .layui-colla-title{
	background-color:inherit;
}
.layui-colla-item{
	border-color:inherit;
} */