body {
    margin: 0 auto;
    font-size: 1.3rem;
}

/*legend{*/
/*    font-weight: bold;*/
/*}*/
/* 表单外面的块 */
.before_form {
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* 表单 */
.form_block {
    padding-top: 1rem;
    font-weight: bold;
}

/* 小块 */
.form_label {
    width: 20%;
    float: left;
    height: 4rem;
    line-height: 4rem;
    /* text-align: center; */
    color: black;
    font-size: 1.8rem;
    font-weight: normal;
}

.form_context {
    width: 80%;
    float: left;
    height: 5rem;
    color: rgb(156, 217, 185);
}

.form_full {
    width: 100%;
    background-color: rgb(156, 217, 185);
    height: 4rem;
    border: 0.1rem solid darkslategrey;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

/* input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
} */

/* 大块 */
.big_full1 {
    height: 10rem;
    margin-bottom: 1rem;
    resize: none;
/ / 不能拖拽
}

.big_full2 {
    height: 7rem;
    margin-bottom: 1rem;
    resize: none;
/ / 不能拖拽
}

/* 图例 */
.fieldset_title {
    font-size: 2.5rem;
    color: darkslategrey;
    /*font-weight: bolder;*/
    /*text-align: center;*/
}

/* 按钮 */
.button_origin {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    /* background-color: ; */
    border-radius: 0.5rem;
    border: none;
    color: white;
}

.bg_submit {
    background-color: rgb(8, 129, 204);
}

.bg_submit:hover {
    background-color: rgb(4, 73, 116);
}

.bg_reset {
    background-color: rgb(6, 156, 6)
}

.bg_reset:hover {
    background-color: rgb(3, 107, 3);
}
