<!-- extend from base layout -->
{% extends "base.html" %}

{% block style %}
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{{ url_for('static',filename='js/echarts5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selectMultip.js') }}"></script>
    <link href="{{ url_for('static', filename='css/multiCloud.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/echarts-wordcloud.min.js') }}"></script>
    <style>
        .total {
            margin: 0 auto;
            width: 90%;
            height: 80rem;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
            -moz-box-shadow: 0.2rem 0.2rem 1rem #909090;
            -webkit-box-shadow: 0.2rem 0.2rem 1rem #909090;
            box-shadow: 0.2rem 0.2rem 1rem #909090;
        }

        .left {
            margin-left: 2%;
            margin-top: 1%;
            width: 27%;
            float: left;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
            -moz-box-shadow: 0.2rem 0.2rem 1rem #909090;
            -webkit-box-shadow: 0.2rem 0.2rem 1rem #909090;
            box-shadow: 0.2rem 0.2rem 1rem #909090;
        }

        .right {
            width: 67%;
            float: left;
            margin-left: 2%;
            margin-top: 1%;
            height: 95%;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
            -moz-box-shadow: 0.2rem 0.2rem 1rem #909090;
            -webkit-box-shadow: 0.2rem 0.2rem 1rem #909090;
            box-shadow: 0.2rem 0.2rem 1rem #909090;
        }

        #forms {
            width: 95%;
            margin: 0 auto;
        }

        .two {
            border-radius: 5px;
            margin-top: 2rem; position: relative;
            height: 5rem;
        }

        .two_center {
            width: 93%;
            padding-top: 1rem;
            margin: 0 auto;
        }

        label {
            width: 32%;
            float: left;
            height: 3rem;
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 0.7rem;
        }

        select {
            padding-left: 1%;
            width: 68%;
            float: left;
            height: 3rem;
            font-size: 1.5rem;
        }

        input {
            padding-left: 1%;
            width: 65.5%;
            float: left;
            height: 2.6rem;
            font-size: 1.5rem;

        }

        .title_center {
            padding-top: 1%;
            padding-bottom: 1%;
            width: 100%;margin: 0 auto;
            text-align: center;
            font-weight: bolder;
            font-size: 2.5rem;

        }

        .button_center {
            width: 50%;
            margin: 0 auto;
            margin-top: 3rem;
        }

        .button_origin {
            width: 45%;
            height: 4rem;
            font-size: 2rem;
            border-radius: 0.5rem;
            border: none;
            color: white;
            margin-bottom: 3rem;
            text-align: center;
        }

        .bg_submit {
            background-color: rgb(8, 129, 204);
            float: left;
        }

        .bg_submit:hover {
            background-color: rgb(4, 73, 116);
        }

        .bg_reset {
            background-color: rgb(6, 156, 6);
            float: right;
        }

        .bg_reset:hover {
            background-color: rgb(3, 107, 3);
        }

        input::-webkit-input-placeholder {color: black;
        }

        input::-moz-placeholder {  color: black;
        }

        　　
        input:-moz-placeholder { color: black;
        }

        input:-ms-input-placeholder { color: black;
        }
        .nav{
            flex-wrap: nowrap;
            float: right;
        }
        .nav-item{
            height: 10rem;
        }

    </style>

{% endblock %}

<!-- 各页面主体内容 -->
{% block body_part %}
    <div style="height: 3rem"></div>
    <div class="total">
        <div class="left">
            <div id="forms">
                <div class="two">
                    <div class="two_center">
                        <label class="over">Factor source:</label>
                        <select class="target" id="show_list">
                            <option value="all" selected disabled>Select factor source</option>
                            <option value="All">By all</option>
                            <option value="prediction">By prediction</option>
                            <option value="experiment">By experiment</option>
                        </select>
                    </div>
                </div>
                <div class="two">
                    <div class="two_center">
                        <label class="over">Cancer type:</label>
                        <select multip class="cancer_type" id="cancer_list" required="required">
                            <option value="all" selected disabled>Select cancer type</option>
                            <option value="Adenoid_cystic_carcinoma">Adenoid cystic carcinoma</option>
                            <option value="Breast_Neoplasms">Breast Neoplasms</option>
                            <option value="Cholangiocarcinoma">Cholangiocarcinoma</option>
                            <option value="Chordoma">Chordoma</option>
                            <option value="Craniopharyngioma">Craniopharyngioma</option>
                            <option value="Glioma">Glioma</option>
                            <option value="Head_and_Neck_Neoplasms">Head and Neck Neoplasms</option>
                            <option value="Intestinal_Neoplasms">Intestinal Neoplasms</option>
                            <option value="Kidney_Neoplasms">Kidney Neoplasms</option>
                            <option value="Leukemia">Leukemia</option>
                            <option value="Liver_Neoplasms">Liver Neoplasms</option>
                            <option value="Lung_Neoplasms">Lung Neoplasms</option>
                            <option value="Lymphoma">Lymphoma</option>
                            <option value="Melanoma">Melanoma</option>
                            <option value="Meningeal_Neoplasms">Meningeal Neoplasms</option>
                            <option value="Mesothelioma">Mesothelioma</option>
                            <option value="Multiple_Myeloma">Multiple Myeloma</option>
                            <option value="Neuroblastoma">Neuroblastoma</option>
                            <option value="Neuroendocrine_Tumors">Neuroendocrine Tumors</option>
                            <option value="Ovarian_Neoplasms">Ovarian Neoplasms</option>
                            <option value="Pancreatic_Neoplasms">Pancreatic Neoplasms</option>
                            <option value="Prostatic_Neoplasms">Prostatic Neoplasms</option>
                            <option value="Sarcoma">Sarcoma</option>
                            <option value="Skin_Neoplasms">Skin Neoplasms</option>
                            <option value="Stomach_Neoplasms">Stomach Neoplasms</option>
                            <option value="Thymus_Neoplasms">Thymus Neoplasms</option>
                            <option value="Urinary_Bladder_Neoplasms">Urinary Bladder Neoplasms</option>
                            <option value="Uterine_Neoplasms">Uterine Neoplasms</option>
                            <option value="Vulvar_Neoplasms">Vulvar Neoplasms</option>
                            <option value="Pancancer">Pancancer</option>
                        </select>
                    </div>
                </div>

                <div class="two">
                    <div class="two_center">
                        <label class="over">Factor type:</label>
                        <select multip class="target" id="target_list" required="required">
                            <option value="all" selected disabled>Select factor type</option>
                            <option value="Protein-coding_gene">Protein-coding gene</option>
                            <option value="miRNA">miRNA</option>
                            <option value="LncRNA">LncRNA</option>
                            <option value="CircRNA">CircRNA</option>
                            <option value="Pseudogene">Pseudogene</option>
                            <option value="Protein">Protein</option>
                            <option value="Radiosensitizer">Radiosensitizer</option>
                        </select>
                    </div>
                </div>
                <div class="button_center">
                    <button type="button" onclick="getvalue()" class="button_origin bg_submit over">Submit</button>
                    <button type="reset" onclick="clearAll()" class="button_origin bg_reset over">Reset</button>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="title_center over">Word Cloud</div>
            <div id="echarts_img" style="width: 100%;height: 100%;">
            </div>

        </div>
    </div>
    <script>
        $(function () {
            selectMultip.register();
            $("#load_img").hide();
        })

        function clearAll() {
            $("#show_list option").removeAttr("selected");
            $("#show_list option").removeAttr("choose");
            $("#show_list").find("option[value='all']").attr("selected", true);
            $("#cancer_list option").removeAttr("selected");
            $("#cancer_list option").removeAttr("choose");
            $("#cancer_list").find("option[value='all']").attr("selected", true);
            $("#target_list option").removeAttr("selected");
            $("#target_list option").removeAttr("choose");
            $("#target_list").find("option[value='all']").attr("selected", true);
            selectMultip.register();
        }

        function getvalue() {
            var value1 = $("#cancer_list option:selected").val();
            var value2 = $("#target_list option:selected").val();
            var value3 = $("#show_list option:selected").val();
            if (value3 == "all") {
                alert("plesase select data type");
                return;
            }
            if (value1 == "all") {
                alert("plesase select cancer type");
                return;
            }
            if (value2 == "all") {
                alert("plesase select target");
                return;
            }
            var data = {ct: value1.split(","), tt: value2.split(",")};
            if (value3 == "All") {
                var url = "/analysis1";
            } else if (value3 == "prediction") {
                var url = "/analysis2";
            } else {
                var url = "/analysis3";
            }

            $.ajax({
                url: url,
                type: "POST",
                data: data,
                beforeSend: function () {
                    $("#echarts_img").hide();
                    $("#load_img").show();
                },
                success: function (res) {
                    if(res.error){
                        alert(res.error);
                    }else{
                        $("#load_img").hide();
                    $("#echarts_img").show();
                    draw(res.data);
                    var myChart = echarts.init(document.getElementById('echarts_img'));
                    myChart.clear();
                    myChart.setOption(draw(res.data));
                    window.onresize = myChart.resize;
                    }
                }
            })
        }
    </script>

    <script type="text/javascript">
        function draw(json_data) {
            var option = {
                tooltip: {
                    confine: true
                },
                toolbox: {
                    show: true,
                    x: 'right',
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true, pixelRatio: 10,}
                    }
                },
                grid: {
                    left: 0,
                    right: 12,
                    bottom: 0,
                    top: 0,
                    containLabel: true,
                },
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    textStyle: {
                        lineHeight: 20
                    },
                    formatter: function (sStr) {
                        var str = "";
                        var l = 0;
                        var schar;
                        for (var i = 0; schar = sStr.charAt(i); i++) {
                            str += schar;
                            l += schar.match(/[^\x00-\xff]/) ? 2 : 1;
                            if (l > 10) {
                                str += (sStr.length > str.length) ? '\n' : '';
                                l = 0;
                            }
                        }
                        return str;
                    }
                },

                series: [{
                    type: 'wordCloud',
                    gridSize: 6,
                    sizeRange: [20, 50],
                    rotationRange: [0, 90],
                    drawOutOfBound: false,
                    textStyle: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 100),
                                Math.round(Math.random() * 100),
                                Math.round(Math.random() * 100)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        textStyle: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: json_data,
                }]
            };
            return option;
        }
    </script>

{% endblock %}